.popup__input-error {
	display: block;
	min-height: 30px;
	visibility: hidden;
	padding: 0;
	margin: 0;
	font-family: "Inter", "Source Sans Pro", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #ff0000;
}
